{% extends "base.html" %}
<section class="info-box-container">
  <article class="info-box-wrapper">
    <div class="info-box">
      <header class="info-box__title">
        <span aria-hidden="true" class="icon icon--medium icon__info"></span>
        <h2 class="info-box__title-text" "info-box__title-text--about">about</h2>
      </header>
      <div class="info-box__content">
        <p>ooknet is a monorepo, a personal website and a collection of my notes</p>
      </div>
    </div>
  </article>
  <article class="info-box-wrapper">
    <div class="info-box">
      <header class="info-box__title">
        <span aria-hidden="true" class="icon icon--medium icon__contact"></span>
        <h2 class="info-box__title-text" "info-box__title-text--contact">contact</h2>
      </header>
      <div class="info-box__content">
        <p>ooknet is a monorepo, a personal website and a collection of my notes</p>
      </div>
    </div>
  </article>
  <article class="info-box-wrapper">
    <div class="info-box">
      <header class="info-box__title">
        <span aria-hidden="true" class="icon icon--medium icon__notes"></span>
        <h2 class="info-box__title-text" "info-box__title-text--notes">notes</h2>
      </header>
      <div class="info-box__content">
        <p>ooknet is a monorepo, a personal website and a collection of my notes</p>
      </div>
    </div>
  </article>
</section>

{% block home %}
{{ section.content | safe }}
{% endblock home %}
