:root {
  --nix-bg1: #32302f; /*base00*/
  --nix-bg2: #3c3836; /*base01*/
  --nix-bg3: #504945; /*base02*/

  --nix-fg1: #d5c4a1; /*base05*/
  --nix-fg2: #fbf1c7; /*base07*/
  --nix-fg3: #665c54; /*base03*/
  --nix-link: #83a598; /*base0D*/

  --nix-accent: #fb4934; /*base08*/
  --nix-hi: #b8bb26; /*base0B*/

  /* server collapse */
  --sb-collapsed-width: 12px;
  --sb-transition-duration: 0.15s;
}

.theme-dark {
  --background-primary: var(--nix-bg1);
  --background-secondary: var(--nix-bg2);
  --background-secondary-alt: var(--nix-bg3);
  --header-primary: var(--nix-fg1);
  --header-secondary: var(--nix-hi);
  --text-normal: var(--nix-fg1);
  --text-muted: var(--nix-fg1);
  --text-link: var(--nix-link);
  --background-accent: var(--nix-accent); /*base08*/
  --background-tertiary: var(--nix-bg2); /*base01*/
  --background-floating: var(--nix-bg1); /*base00*/
  --background-mentioned: var(--nix-hi);
  --background-mentioned: var(--nix-hi);
  --interactive-normal: var(--nix-fg1); /*base05*/
  --interactive-hover: var(--nix-hi); /*base0B*/
  --interactive-active: var(--nix-fg2);
  --interactive-muted: var(--nix-fg3); /*base03*/
  --channels-default: var(--nix-fg1);
  --background-mobile: var(--nix-bg1);
  --background-mobile-secondary: var(--nix-bg2);
  --background-modifier-selected: var(--nix-bg1);
  --scrollbar-thin-thun: var(--nix-hi);
  --scrollbar-auto-thumb: var(--nix-fg1);
  --scrollbar-auto-track: var(--nix-bg2);
  --channeltextarea-background: var(--nix-bg2);
  --background-modifier-hover: var(--nix-bg1);
  --activity-card-background: var(--nix-bg2);
  --text-warning: var(--nix-accent);
}

.link__95dc0 /* text channel*/ {
  border-radius: 0px;
  margin-left: var(--csu-init-margin);
  font-family: JetBrains Mono Nerd Font;
  transition:
    margin-left var(--csu-anim-duration) var(--csu-anim-transition),
    background-color var(--csu-anim-duration);
}

.containerDefault__3187b .wrapper__7bcde:before /* text channel */ {
  content: "";
  display: inline-block;
  background: var(--nix-hi);
  height: 100%;
  position: absolute;
  left: 0;
}

/* server collapse */
.guilds__2b93a /* servers */ {
  overflow: hidden !important;
  width: var(--sb-collapsed-width, 75px);
  transition: width var(--sb-transition-duration);
}
.guilds__2b93a:hover /* expand server bar on hover */ {
  width: 72px;
  overflow: visible !important;
  animation: server-bar-overflow 0s linear 0ms forwards;
}
.guilds__2b93a ~ .base__3e6af /* friends list, chat */ {
  position: absolute;
  left: var(--sb-collapsed-left, var(--sb-collapsed-width));
  top: var(--sb-collapsed-top, 0px);
  bottom: var(--sb-collapsed-bottom, 0px);
  right: var(--sb-collapsed-right, 0px);
  transition-property: var(--sb-transition-property, left);
  transition-duration: var(--sb-transition-duration);
}
.guilds__2b93a:hover ~ .base__3e6af /* friends list, chat */ {
  position: absolute;
  left: var(--sb-left, 60px);
  top: var(--sb-top, 0px);
  bottom: var(--sb-bottom, 0px);
  right: var(--sb-right, 0px);
}
@keyframes server-bar-overflow {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
